html {
    background-color: #f2f2f2;
}

.formWrapper {
    margin-bottom: 40px;
    color: $textColor;
    max-width: 850px;
    width: 100%;
    margin: 40px; 
}

.formWrapper__col {
    display: inline-block;
    vertical-align: top;
}

.form {  
    width: 66%; 
    font-size: 16px;
    counter-reset: checkout; 
}

.form__fieldset {
    border: none;
    position: relative;
    margin-bottom: 20px;
    padding: $fieldsetPadding;
    &::before {
        font-size: 0.85em;
        counter-increment: checkout;
        content: counter(checkout);
        display: block;
        width: 20px;
        height: 20px;
        background-color: $textColor;
        color: #ffffff;
        position: absolute;
        left: -15px;
        top: 0;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        font-weight: 700;
    }
}

.form__legend {
    margin-bottom: 10px; 
    line-height: 2em;
    font-size: 0.8em;
    color: $textColor; 
    font-weight: 800;
    text-transform: uppercase;
}

.form__input,
.form__select {
    display: block;
    width: 100%;
    font-size: 1em;  

    &:focus + .form__label--arrow {
        &::before {
            content: '\e803';
        }
    }
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__row--submit {
    padding: $fieldsetPadding;
    flex-direction: column;   
}

.form__box {
    flex: 1;
    position: relative; 
}

.form__box--6 {
    max-width: calc(50% - 5px);
}

.form__input {
    @include inputStyle;
}
 
.form__label,
.form__label--arrow  {
    pointer-events: none;
    display: block;
    font-size: 0.75em;
    font-weight: 700; 
    left: 10px;
    right: 10px;
    top: 7px;
    position: absolute;
}

.form__label--arrow {
    right: 15px;
    &::before {
        font-family: fontello;
        pointer-events: none;
        content: '\e802';
        position: absolute;
        right: 3px;
        bottom: 0;
        margin-bottom: -10px;
    }
}

.form__select { 
   @include inputStyle(20px 0 0 10px);
   -webkit-appearance: none; 
   -moz-appearance: none;
   border: none;
  
   &::-ms-expand { 
       display: none;
   }
}

.form__submit {
    @include inputStyle;
    padding: 0;
    background-color: $submitColor;
    transition: background-color 0.3s;
    color: #ffffff;
    border: none; 
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.02em;

    &:before {
        content: '\e800';
        font-family: fontello;
        font-size: 1.2em;
        font-weight: 400;
        margin-right: 10px;
    } 

    &:hover {
        background-color: darken($submitColor, 10%);
    }
}

.form__box--card {
    &::after {
        @include fontelloContent('\f1f0');
        color: #4051b5;
    }
} 

.form__box--code {
    &::after {
        @include fontelloContent('\f29c'); 
    }
}

.form__message {
    display: none;
    font-size: 2em;
    padding: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__message--valid,
.form__message--invalid {
    display: block; 
} 

.form__message--valid { 
    background-color: #8fc143;
}

.form__message--invalid {
    background-color: $invalidColor;
}

.icon-lock-filled {
    margin-left: 0.7em;
}